{% extends 'CoreBundle:Layout:layout.html.twig' %}

{% form_theme form ':Form:bootstrap_3_layout.html.twig' %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <form action="" method="post">

                {% for child in form %}
                    {% if (child.vars.name == 'formResponseFields') %}
                        {% for subChild in child %}
                            {{ form_widget(subChild) }}
                        {% endfor %}
                    {% else %}
                        {{ form_widget(child) }}
                    {% endif %}
                {% endfor %}
                <input type="submit" class="btn btn-success" value="Enregistrer" />
            </form>
        </div>

        <hr>

        <footer>
            <p>&copy; Company 2015</p>
        </footer>
    </div> <!-- /container -->
{% endblock content %}